*{
  padding: 0;
  margin: 0;
}
body{
  display: flex;
  justify-content: center;
  background-color: darkslategrey;
  color: lime;
}
header{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: wheat;
  color: darkslategrey;
  padding-top: 0.5em;
}
section{
  border: 0.1em solid lime;
  padding: 1em;
  margin-bottom: 1em;
}
footer{
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
  background-color: wheat;
  color: darkslategrey;
  padding-top: 0.5em;
}